@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

::ng-deep body {
  background-image: url('/assets/logo.png');
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.registro{
  min-height: 65vh !important;
}

p{
  margin: 0;
  font-size: 0.8rem;
}
