<div class="background-container"></div>
<div class="container login d-flex flex-column gap-4 justify-content-center p-5 ">
  <div class="d-flex flex-column align-items-center justify-content-center p-5">
    <p-card [styleClass]="'d-flex gap-4 justify-content-center align-items-stretch rounded-4 shadow-lg'" >
      <p-toast />
      <form [formGroup]="loginForm" class="d-flex flex-column justify-content-center align-items-center gap-4" action="">
        <h2 class="text-center fw-bolder">Bienvenido a BearGym</h2>
        <h6 class="text-body-secondary">Login</h6>

        <p-iconField class="position-relative ng-invalid" iconPosition="left">
          <p-inputIcon styleClass="pi pi-user"/>
          <input formControlName="username" type="text" pInputText  placeholder="Username" />
          <i class="pi pi-check-circle alerta-positiva"></i>
          <i class="pi pi-exclamation-circle alerta-negativa"></i>
        </p-iconField>

        @if (username?.invalid && (username?.dirty || username?.touched)){
          <div class="text-danger">

            @if (username?.hasError('required')){
              <p>Este campo es obligatorio</p>
            }
            <!--            Aqui iran mas validaciones como que ese username no esta referenciado en la base de datos     -->
          </div>
        }

        <p-iconField class="position-relative" iconPosition="left">
          <p-inputIcon styleClass="pi pi-key" />
          <input type="password"
                 formControlName="password"
                 placeholder="Password"
                 pInputText />
          <i class="pi pi-check-circle alerta-positiva"></i>
          <i class="pi pi-exclamation-circle alerta-negativa"></i>
        </p-iconField>

        @if (password?.invalid && (password?.dirty || password?.touched)){
          <div class="text-danger">

            @if (password?.hasError('required')){
              <p>Este campo es obligatorio</p>
            }

            <!--            Aqui iran mas validaciones como que la contraseña es incorrecta     -->
          </div>
        }
      </form>

        <div class="w-100 mt-5">
          <p-button (click)="login()" label="Login" styleClass="w-100 rounded mb-3" size="small" icon="pi pi-user" [outlined]="true"></p-button>
          <a  routerLink="/registro">¿Aún no te has registrado? Hazlo aquí</a>
        </div>

    </p-card>

  </div>
</div>
