@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

//section {
//  height: 100vh;
//  background: linear-gradient(to bottom, #322d2d, #ee70eb);
//}

::ng-deep main{
  background-color: rgba($dark,0.95);
  backdrop-filter: blur(5px);
  .carousel-caption{
    background-color: rgba($light,0.7);
    border-radius: 15px;
  }
  .img-section{
    width: clamp(75px, 20%, 170px);
    height: auto;
  }

  ::ng-deep  p{
    font-size: clamp(0.85rem, 2.5vw, 2.5rem);
  }
}

h1{
  color: darken(#f47cf6, 0%);
}

h2{
  color: rgba(#f47cf6, 60%);
}

