<main class="d-flex flex-column justify-content-center align-items-center pt-4">
  <h1>Bienvenido a la mejor web</h1>
  <h2 class="pb-4"> de gestion de ejecicios de gimnasio</h2>
  <app-carousel></app-carousel>
  <section class="d-flex align-items-center justify-content-center border-bottom w-100">
    <img class="pe-4 img-fluid img-section" src="assets/logo.png" >
    <div class="d-flex flex-column align-items-center py-5">
      <p class="fw-bolder">Aqui encontraras todos los ejercicios</p>
      <p class="fw-bolder">de todos los demas usuarios</p>
    </div>
    <img class="ps-4 img-fluid img-section" src="assets/logo.png" >
  </section>
  <section>

  </section>

</main>
