<main class="d-flex flex-column justify-content-center align-items-center pt-4">
  <h1>Bienvenido a la mejor plataforma</h1>
  <h2 class="pb-4"> de gestion de ejecicios de gimnasio</h2>
  <app-carousel></app-carousel>
  <section class="d-flex align-items-center justify-content-center border-bottom w-100">
    <img class="p-5" src="assets/logo.png" height="200" width="200">
    <div class="d-flex flex-column align-items-center py-5">
      <p class="fs-1 fw-bolder">Aqui encontraras todos los ejercicios</p>
      <p class="fs-2 fw-bolder">de todos los demas usuarios</p>
    </div>
    <img class="p-5" src="assets/logo.png" height="200" width="200">
  </section>
  <section>

  </section>

</main>
